In [1]:
import pandas as pd


df = pd.read_csv("sample_data.csv")
df.head()

,date_time,proximity,humidity,pressure,light,oxidised,reduced,nh3,temperature,sound_high,sound_mid,sound_low,sound_amp
0,2023-02-28 23:58:56,19.049599,0.0,104.000000,180.923077,742.381424,9,168.0,18.220566,31.587062,50.571270,27.165062,25.346342
1,2023-02-28 23:57:54,19.057057,0.0,103.585492,180.923077,942.716306,16,168.0,19.593449,41.501513,48.733807,27.325377,25.089356
2,2023-02-28 23:56:52,19.072636,0.0,103.585492,180.923077,942.689768,12,168.0,28.320715,72.704065,52.780445,44.439779,25.365847
3,2023-02-28 23:55:50,19.072213,0.0,103.585492,180.923077,942.696720,14,168.0,19.603719,41.710448,48.442234,27.469631,25.164588
4,2023-02-28 23:54:48,19.054374,0.0,103.585492,180.015326,742.381424,16,168.0,14.340026,22.168426,46.272603,17.599128,25.165981

In [ ]:
df = pd.read_csv("rpi_22_reg.csv")
df