In [1]:
import pandas as pd


df = pd.read_csv("sample_data.csv")
df.head()

,date_time,proximity,humidity,pressure,light,oxidised,reduced,nh3,temperature,sound_high,sound_mid,sound_low,sound_amp
0,2023-02-28 23:58:56,19.049599,0.0,104.000000,180.923077,742.381424,9,168.0,18.220566,31.587062,50.571270,27.165062,25.346342
1,2023-02-28 23:57:54,19.057057,0.0,103.585492,180.923077,942.716306,16,168.0,19.593449,41.501513,48.733807,27.325377,25.089356
2,2023-02-28 23:56:52,19.072636,0.0,103.585492,180.923077,942.689768,12,168.0,28.320715,72.704065,52.780445,44.439779,25.365847
3,2023-02-28 23:55:50,19.072213,0.0,103.585492,180.923077,942.696720,14,168.0,19.603719,41.710448,48.442234,27.469631,25.164588
4,2023-02-28 23:54:48,19.054374,0.0,103.585492,180.015326,742.381424,16,168.0,14.340026,22.168426,46.272603,17.599128,25.165981

In [2]:
df = pd.read_csv("rpi_22_reg.csv")
df

,id,date_time,rpi_id,proximity,humidity,pressure,light,temperature,sound_high,sound_mid,sound_low,sound_amp
0,2021-06-16 19:07:00_22,2021-06-16 19:07:00,22,0,21.385995,678.989225,197.44560,19.359434,56.254223,40.977345,143.630621,40.143698
1,2021-06-18 08:21:40_22,2021-06-18 08:21:40,22,0,41.751223,678.989225,6.69605,18.530225,22.521015,35.172908,61.653584,19.891251
2,2021-06-18 08:22:41_22,2021-06-18 08:22:41,22,0,39.697439,947.628568,7.04525,19.687492,32.769322,34.886666,154.777657,37.072274
3,2021-06-18 08:23:43_22,2021-06-18 08:23:43,22,0,38.173948,947.670980,6.69605,20.719897,29.359610,30.362861,54.150182,18.978776
4,2021-06-18 08:24:45_22,2021-06-18 08:24:45,22,0,37.199102,947.684166,8.81560,20.960083,75.328581,46.717306,56.346761,29.732108
...,...,...,...,...,...,...,...,...,...,...,...,...
279796,2022-01-12 11:14:43_22,2022-01-12 11:14:43,22,9,19.268619,678.989225,1.30365,25.254272,47.221657,37.600395,76.678100,26.916692
279797,2022-01-12 11:15:45_22,2022-01-12 11:15:45,22,9,19.316920,950.132190,1.30365,25.020048,5.867880,15.552763,70.231887,15.275421
279798,2022-01-12 11:16:47_22,2022-01-12 11:16:47,22,7,19.382783,950.125680,1.30365,25.273716,15.414241,36.375913,79.959559,21.958285
279799,2022-01-12 11:17:48_22,2022-01-12 11:17:48,22,8,19.287623,950.088319,1.36290,25.451958,24.170879,52.937115,92.207116,28.219185
279800,2022-01-12 11:18:50_22,2022-01-12 11:18:50,22,8,19.448434,950.078947,1.30365,25.266752,28.544300,24.317734,71.053083,20.652520